<div class="container-fluid d-block ptr">
    <div class="row">
        <div class="col">
            <div class="card bg-transparent border-0" (click)="twist()" [class]="rotate? 'change' : ''">
                <div class="card-header bg-transparent border-0">
                    <div class="card-title align-middle vartxt d-flex align-items-center justify-content-between">
                        <div class="mt-md-3 mt-lg-2">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                        </div>
                        <p class="d-none d-sm-block">User Experience Design</p>
                        <p class="d-sm-none d-block">UXD</p>
                    </div>
                </div>
                <div class="card-body tog navtxt">
                    <p (click)="home()">Home</p>
                    <p (click)="profile()">ravisaik</p>
                    <p (click)="profile2()">Blog</p>
                </div>
            </div>
        </div>
    </div>
</div>