<div class="container-fluid c-p">
    <div class="row">
        <div class="col">
            <div class="card text-center" style="background-color: transparent;
                border: none;">
                <div class="card-body itx" style="background-image:
                    url(assets/quote-left.svg); background-repeat: no-repeat;">
                    <p class="maintxt">A Diverse Field, Encompassing the Traditional Human-Machine Interface, An Iterative process of Improving the Product Experience to it's Users. Delivering a Visually Impactful and Effortless Experience of Functionalities</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-3">
    <div class="row my-auto">
        <div class="col-12">
            <h4 class="gtc">Understanding the user experience is understanding the following aspects of the design process which are the most fundamental and most used in the design process of any application
            </h4>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-sm-2 col-lg-4 col-xl-4 text-md-center">
            <img class="ris" src="assets/strategy.svg">
        </div>
        <div class="col-sm-8 col-md-10 col-lg-8 col-xl-8">
            <h3>Experience Strategy</h3>
            <h5 class="gtc">Visualizing viable design strategies by research over the various elements in the system like</h5>
            <ul>
                <li class="ptd" data-toggle="modal" data-target="#esModal">
                    <a role="button" title="Solutions">Solutions</a>
                </li>
                <li class="ptd" data-toggle="modal" data-target="#esModal">
                    <a role="button" title="Users">Users</a>
                </li>
                <li class="ptd" data-toggle="modal" data-target="#esModal">
                    <a role="button" title="Company">Company</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-xs-4 col-sm-2 col-lg-2 col-xl-4 text-md-center">
            <img class="ris" src="assets/research.svg">
        </div>
        <div class="col-sm-8 col-md-10 col-lg-10 col-xl-8">
            <h3>User Research</h3>
            <h5 class="gtc">A qualitative and quantitative analysis of the user, researching on the aspects like</h5>
            <ul>
                <li class="ptd" data-toggle="modal" data-target="#urModal">
                    <a role="button" title="User Personas">User Personas</a>
                </li>
                <li class="ptd" data-toggle="modal" data-target="#urModal">
                    <a role="button" title="Pain Points">Pain Points</a>
                </li>
                <li class="ptd" data-toggle="modal" data-target="#urModal">
                    <a role="button" title="User Analysis">User Analysis</a>
                </li>
            </ul>
            <h5 class="gtc">defining the pain points and creating user personas to understand the usage metrics of the product research with the persona based approach and understanding the system redifing the user experience every instance possible</h5>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-xs-4 col-sm-2 col-lg-4 col-xl-4 text-md-center">
            <img class="ris" src="assets/architecture.svg">
        </div>
        <div class="col-sm-8 col-md-10 col-lg-8 col-xl-8">
            <h3>Information Architecture</h3>
            <h5 class="gtc">Organising the set of data that is being targeted and managing the content with an optimised represenattion with reference to the user experience</h5>
            <ul>
                <li class="ptd" data-toggle="modal" data-target="#iaModal">
                    <a role="button">Content Management</a>
                </li>
                <li class="ptd" data-toggle="modal" data-target="#iaModal">
                    <a role="button">Data Optimisation</a>
                </li>
                <li class="ptd" data-toggle="modal" data-target="#iaModal">
                    <a role="button">Data Representation</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mt-4 mb-3">
        <div class="col-xs-4 col-sm-2 col-lg-4 col-xl-4 text-md-center">
            <img class="ris" src="assets/interactions.svg">
        </div>
        <div class="col-sm-8 col-md-10 col-lg-8 col-xl-8">
            <h3>Interaction Design</h3>
            <h5 class="gtc">Integrating the user design with an adaptive design and interaction is a part of the interaction design where the areas focused are</h5>
            <ul>
                <li class="ptd" data-toggle="modal" data-target="#idModal">
                    <a role="button">Action Animation</a>
                </li>
                <li class="ptd" data-toggle="modal" data-target="#idModal">
                    <a role="button">Page Animations</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<footer class="container-fluid bg-grey pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <p>User Experience design is a varied field of science which deals with the human machine interaction understanding the user, creating a design trend or follow a conventional method of providign a better User Experience is a part of this,
                        when discussed the User Experience always differs from User Interactions which is a part or subset of the User Exerience
                    </p>
                </div>
            </div>
            <div class="col-sm-4 ftd text-center pb-3">
                <h6>ravisaik</h6>
                <p>Hi, I'm a User Experience Designer with a varied product design experiece and a field expertise in understanding the machines and their interfaces</p>
                <a href="ravisaik.html" class="btn-footer">More Info</a>
                <a href="mailto:admin@ravisaik.com?Subject=Message%20to%20site%20admin" target="_top" class="btn-footer">Contact me</a>
            </div>
            <div class="col-sm-4 text-center">
                <h6>Social Connect</h6>
                <div class="social">
                    <a href="https://www.linkedin.com/in/ravisaik" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/KarriRavisai" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.youtube.com/channel/UCO1FBLcZClJHESLu9VmBj-Q?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
                <div class="pt-3">
                    <img class="w-25 img-fluid" src="assets/icon.png">
                </div>
            </div>
        </div>
    </div>
</footer>