<div class="container-fluid">
    <div class="row mx-auto">
        <div class="col-12">
            <h4 class="bcg-1">Worked on the product user experience, learning the upcoming technological trends in the field of product design, user interaction design and user experience design as a whole, and designing the prototypes. Developing the responsive <a href="https://onedotclass.com/"
                    target="_blank">Product Websites</a> using Bootstrap and JavaScript for web development. Designing for the mobile applications operating in <a href="https://play.google.com/store/apps/details?id=com.dfoeindia.one.master.teacher" target="_blank">Android</a>,
                <a href="https://itunes.apple.com/in/app/one-class-teacher/id1076280677?mt=8" target="_blank">IOS</a> and <a href="ms-windows-store://pdp/?productid=9MWQHG76QQSX" target="_blank">Windows</a> operating environments with a good grasp on
                the design tools like Adobe XD, Photoshop, Illustrator for design. Used Invision, Figma and Justinmind for prototyping. Having an agile methodological working experience with a persevered approach for precision in the product user experiences.
                Understanding and adaptation, usage of project operations management software JIRA for a scheduled release and conducting sprints for the Scrum based operation and handling of the Product. Deployment Specialization with an understanding
                on the operating systems like Windows, Linux, Android, IOS.</h4>
        </div>
    </div>
    <div class="row mx-auto mt-5">
        <div class="col-sm-6">
            <h4 class="bcg-2 cg-1">Products which i have worked as a part of their <b><i>Product Design</i></b> and <b><i>User Experience Design</i></b></h4>
            <div id="logoCarousel" class="carousel slide mt-5" data-ride="carousel" data-interval="8000">
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="float-left">
                            <img class="w-25 mr-5 float-left" src="assets/one.png">
                            <div class="align-self-center bcg-2">
                                <p><a href="">"ONE.class"</a> is a classroom collaboration solution, designed for the collabaration between the teachers and students in the classroom with a varied features like wireless connectivity and control, seamless
                                    transfer of data between the teacher and student like books, videos and audio content making it first of it's kind for the classroom collaboration</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="float-left">
                            <img class="w-25 mr-5 float-left" src="assets/fri.png">
                            <div class="align-self-center bcg-2">
                                <p>Restaurant operations become hectic during peak times and maintaining order delivery time and efficiency is a big task amongst it <a href="">"FRI"</a> is a solution designed to address such tasks which comprises a set of
                                    applications designed to perform certain tasks like getting orders to kitchen, preparing menu, billing, through a cloud based management system</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="float-left">
                            <img class="w-25 mr-5 float-left" src="assets/ice.png">
                            <div class="align-self-center bcg-2">
                                <p>In Cabin Experience <a href="">"ICE"</a> is an app designed for the entertainment over the travel where there is a no network availability or low network strenghts, this is primarily designed for aviation entertainment
                                    where people can enjoy interactive gaming, rich content like videos, music and books without the need of internet.</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" (click)="prev()" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" style="filter: invert(100%);"></span>
                    </a>
                    <a class="carousel-control-next" (click)="next()" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" style="filter: invert(100%);"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid bg-grey pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <p>User Experience design is a varied field of science which deals with the human machine interaction understanding the user, creating a design trend or follow a conventional method of providign a better User Experience is a part of this,
                        when discussed the User Experience always differs from User Interactions which is a part or subset of the User Exerience
                    </p>
                </div>
            </div>
            <div class="col-sm-4 ftd text-center pb-3">
                <h6>ravisaik</h6>
                <p>Hi, I'm a User Experience Designer with a varied product design experiece and a field expertise in understanding the machines and their interfaces</p>
                <a href="ravisaik.html" class="btn-footer">More Info</a>
                <a href="mailto:admin@ravisaik.com?Subject=Message%20to%20site%20admin" target="_top" class="btn-footer">Contact me</a>
            </div>
            <div class="col-sm-4 text-center">
                <h6>Social Connect</h6>
                <div class="social">
                    <a href="https://www.linkedin.com/in/ravisaik" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/KarriRavisai" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.youtube.com/channel/UCO1FBLcZClJHESLu9VmBj-Q?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
                <div class="pt-3">
                    <img class="w-25 img-fluid" src="assets/icon.png">
                </div>
            </div>
        </div>
    </div>
</footer>