<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    Stay Tuned
                </div>
                <div class="card-body">
                    <h5 class="card-title">Under Construction</h5>
                    <p class="card-text">A This Page is currently under construction targeted release is 10/10/2024 with loads of content</p>
                </div>
                <div class="card-footer text-muted">
                    <p>Dated: <span id="dateTime"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid bg-grey pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <p>User Experience design is a varied field of science which deals with the human machine interaction understanding the user, creating a design trend or follow a conventional method of providign a better User Experience is a part of this,
                        when discussed the User Experience always differs from User Interactions which is a part or subset of the User Exerience
                    </p>
                </div>
            </div>
            <div class="col-sm-4 ftd text-center pb-3">
                <h6>ravisaik</h6>
                <p>Hi, I'm a User Experience Designer with a varied product design experiece and a field expertise in understanding the machines and their interfaces</p>
                <a href="ravisaik.html" class="btn-footer">More Info</a>
                <a href="mailto:admin@ravisaik.com?Subject=Message%20to%20site%20admin" target="_top" class="btn-footer">Contact me</a>
            </div>
            <div class="col-sm-4 text-center">
                <h6>Social Connect</h6>
                <div class="social">
                    <a href="https://www.linkedin.com/in/ravisaik" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/KarriRavisai" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.youtube.com/channel/UCO1FBLcZClJHESLu9VmBj-Q?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
                <div class="pt-3">
                    <img class="w-25 img-fluid" src="assets/icon.png">
                </div>
            </div>
        </div>
    </div>
</footer>